.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 4rem;
}

.hero-text {
  box-sizing: border-box;
  /* padding: min(4rem, 6rem); */
  width: min(600px, 1000px);
}

.hero-image {
  box-sizing: border-box;
  /* padding: min(4rem, 6rem); */
  width: min(500px, 800px);
}

.main-image {
  border-radius: 50%;
}
